
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="/css/app.css">-->


    <title>List Teacher</title>
</head>
<body>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 style="text-align: center">List Teacher</h1>
        <a  href="/teachers/create" class="btn btn-primary">Create New Teacher</a>
        <p></p>
        <p></p>
        <table class="table table-striped table-bordered">
            <thead>

            <tr>
                <th scope="col">#</th>

                <th scope="col">Name</th>
                <th scope="col">Avatar</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Tel</th>
                <th scope="col">Action</th>
            </tr>

            </thead>
            <tbody>
            <%items.map((item,key)=>{ %>
                <tr>
                    <th scope="row"><%= key+1 %></th>
                    <td><%=item.name%></td>
                    <td><img style="width: 100px" src="<%=item.avatar%>"/> </td>
                    <td><%=item.age%></td>
                    <td><%=item.email%></td>
                    <td><%=item.tel%></td>
                    <td><a href="/teachers/edit/<%= item._id%>">Edit</a>
                        <form action="/teachers/delete/<%= item._id%>" method="post">
                            <button onclick="return confirm('Ban chac chan muon xoa <%= item.name%>')" class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <%})%>


            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>


</div>


</body>
</html>
